SCW_ACCESS_KEY=your_key_id
SCW_SECRET_KEY=your_secret_key
SCW_DEFAULT_ORGANIZATION_ID=your_organization_id
SCW_DEFAULT_PROJECT_ID=e52de29f-0493-4437-9107-a4881d33ef54
SCW_DEFAULT_REGION=nl-ams
SCW_DEFAULT_ZONE=nl-ams-1
