SCALEWAY_PROJECT_ID=11111111-1111-1111-1111-111111111111
SCALEWAY_REGION=nl-ams
SCALEWAY_ZONE=nl-ams-1
SCW_CONTAINER_NAMESPACE=archive-dev-archive-api
SCW_CONTAINER_NAME=archive-api
SCW_CONTAINER_DOMAIN=archive-api.example.com
